.Gif{
border-radius: 6px;
display: flex;
margin: 5px;
padding: 5px;
flex-direction: column;
color: white;
text-decoration: none;
align-items: center;
}
.Gif h4{
    margin: 0;
    font-size: 20px;
}
.Gif  img{
width: 100%;
}

.Gif{
    position: relative;
}
.Gif h6{
    position: absolute;
    bottom: -20px;
}
